.container {

}
.nav ul li{
    display: inline-flex;
    padding: 25px ; 
     color: black;
     padding-left: 10px;
     margin-right: 60px;
     
     
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 25%;
}
#li1{
    font-weight: bolder;
}
.nav button{
    color: aliceblue;
    background-color: black;
}
#heading{
    text-align: center;
    font-size: 70px;
}
.paragraph{
    padding-left: 80px;
    font-size: 20px;
}
#mage{
    padding-left: 40%;
    width: 900px;
    height: 500px;
    padding-bottom: 50%;
    margin-top: -10%;
}
#magew{
    padding-right: 40%;
    width: 600px;
    height: 600px;
    margin-top: -60%;
    padding-bottom: 50%;
    padding-left: 80px;
}
#but2{
    padding-left: 60px;
    font-size: 40px;
    border: 20px;
    background-color: black;
    color: aliceblue;
}
.papi2{
    margin-top: -80%;
    align-items: center;
    padding-left: 40%;
    padding-top: 5%;
    font-size: larger;
}
#jimage{
    width: 300px;
    height: 200px;
    align-items: center;
    padding-left: 40%;
    padding-top: -10%;
    /* padding-right: -60% */
    margin-bottom: 50%;
    
}
.pinkie2{
    margin-top: -70%;
    align-items: center;
    padding-left: 70%;
    padding-top: 5%;
}
#pinkipic{
    width: 300px;
    height: 200px;
    align-items: center;
    padding-left: 80%;
    margin-left: -10%;
    /* margin-right: -25%; */

}
.headingva{
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
    padding-top: 10%;
}
.sections{
    display: flex;
    background-color: beige;
}
.sectionA{
    border: solid;
    border-color: black;
    padding-left: 5%;
    border: solid;
    margin-left: 15%;
}

.sectionB{
    padding-left: 5%;
    border: solid;
    border-color: black;
    margin-left: -0px;
    
}
.sectionC{
    padding-left: 5%;
    border: solid;
    border-color: black;
    margin-left: -0%;
}
.butex{
    font-size: 40px;
    background-color: black;
    color: aliceblue;
    margin-left: 20%;
    margin-top: 5%;
}
.reco{
    font-size: 60px;
    align-content: center;
    margin-left: 10%;
}
#themis{
    margin-left: 70%;
    width: 600px;
    height: 600px;
    margin-top: -40px;
}
#pipi{
    margin-left: 65%;
    width: 500px;
    height: 500px;
    margin-top: -35%;
}
#leng{
    margin-left: 60%;
    width: 400px;
    height: 400px;
    margin-top: -30%;
}
.heldo{
    text-align: center;
    font-size: 70px;
}
.chairs{
    display: flex;
}
.chair{
    padding-left: 20%;
}
#funnymage{
    align-items: center;
    width: 300px;
    height: 300px;
}
.cadwi{
    padding-right: -25%;
}
#yoh{
    width: 300px;
    height: 300px;
}
.funny{
    padding-right: -30%;

}
#ahan{
    width: 300px;
    height: 300px;

}
.hidi{
    padding-left: 90px;
    font-size: 50px;
}
#supa{
    width: 500px;
    height: 500px;
}
#indi{
    width: 500px;
    height: 500px;
}
#give{
    width: 500px;
    height: 500px;
}
#lage{
    width: 500px;
    height: 500px;
}
#rapi{
    width: 500px;
    height: 500px;
}
.papping{
    align-items: center;
}
.bv{
    border: 20px;
    color: aliceblue;
    background-color: black;
    font-size: 40px;
    margin-left: 30%;
}
#landi{
    align-items: center;
    width: 1500px;
    height: 500px;
    padding-left: 10%;
}
.bute1{
    margin-top: -25%;
    margin-left: 40%;
    font-size: 80px;
}
.bute{
margin-left: 40%;
font-size: 40px;
}
.seclast{
    margin-top: 20%;
    font-size: 20px;
}
.helpie{
    margin-top: -10%;
    padding-left: 20%;
    font-size: 20px;
}
.poli{
    margin-top: -8%;
    padding-left: 30%;
    font-size: 20px;
}
.sup{
    margin-top: -8%;
    padding-left: 40%;
    font-size: 20px;
}

